MODEL_TYPE="Gemini"
MODEL_NAME="gemini-3.5-flash-lite"
GOOGLE_API_KEY="your_api_key_here"

# MODEL_TYPE="Ollama"
# MODEL_NAME="hf.co/LiquidAI/LFM2.5-VL-3B-GGUF:BF16"
# MODEL_NAME="hf.co/unsloth/Qwen2.5-VL-3B-Instruct-GGUF:BF16"
# MODEL_NAME="hf.co/unsloth/Qwen3.5-4B-GGUF:BF16"
# MODEL_NAME="hf.co/unsloth/gemma-4-E2B-it-GGUF:BF16"
